.status-page-container {
    background-color: #e4e0d9; /* Set the background color */
    padding: 20px;
    flex: 1; /* Allow the page-container to grow and fill the remaining space */
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  