/* loanDeployment.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

.page-container {
  background-color: #ebc139; /* Set the background color */
  padding: 20px;
  flex: 1; /* Allow the page-container to grow and fill the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}