/* loanDeployment.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

.cspro-page-container {
  background-color: #f0c26c; /* Set the background color */
  padding: 20px;
  flex: 1; /* Allow the page-container to grow and fill the remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-select-selection {
  background-color: #000 !important; /* 背景颜色 */
  color: #fff !important; /* 文字颜色 */
}

.ant-select-arrow {
  color: #fff !important; /* 箭头颜色 */
}

.ant-select-dropdown-menu-item {
  background-color: #000 !important; /* 下拉选项的背景颜色 */
  color: #fff !important; /* 下拉选项的文字颜色 */
}