html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.container {
display: flex;
flex-direction: column;
min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

.token-page-container {
background-color: white; /* Set the background color */
padding: 20px;
flex: 1; /* Allow the page-container to grow and fill the remaining space */
display: flex;
flex-direction: column;
justify-content: center;
}

.token-page-container::before {
    content: ""; /* 创建一个空内容 */
    position: relative; /* 相对定位 */
    top: 10%; /* 距离顶部100像素 */
    left: 0; /* 左边距为0 */
    width: 100%; /* 宽度为100% */
    height: 30px; /* 总高度为35像素，包含红线和黑线 */
    background: 
        linear-gradient(to bottom, 
            red 0%, 
            red 10px, 
            transparent 10px, 
            transparent 30px), /* 红线 */
        linear-gradient(to bottom, 
            black 0%, 
            black 25px, 
            transparent 20px, 
            transparent 30px); /* 黑线 */
}

.token-page-container::before {
    background-size: 50% 100%, 100% 100%; /* 红线宽度为50%，黑线宽度为100% */
    background-position: right top, left 10px; /* 调整位置 */
    background-repeat: no-repeat; /* 不重复 */
}


.ant-btn {
color: black; /* 你可以根据需要调整颜色 */
}

.responsive-logo {
    width: auto; /* 根据需要调整百分比 */
    height: 100%; /* 保持宽高比 */
    position: relative; /* 相对定位 */
    left: 1%; /* 左边距为25% */
    top: 10%; /* 顶部距离为10% */
}

.custom-select .ant-select-selection-placeholder {
    color: black !important; /* Change the placeholder color */
}